<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Pet Adoption List</title>
  </head>

  <body>
    <h1 class="display-3">Pets!</h1>

    <div class="row">
      {% for pet in pets %}

      <div class="col-3">
        <img
          src="{{ pet.photo_url }}"
          class="img-thumbnail"
          alt="{{ pet.name }}"
        />
        <a href="/{{pet.id}}"> {{ pet.name }}</a>

        {% if pet.available %} <b>is available!</b>
        {% endif %}
      </div>

      {% endfor %}
    </div>
    <a class="btn btn-secondary" href="/add" role="button">Add a pet!</a>
  </body>
</html>
